alembic
bcrypt
cffi
click
cryptography
Flask
Flask-Bcrypt
# Markers are not supported for -e URLs yet
# -e git+https://github.com/vthriller/flask-genshi#egg=Flask-Genshi ;sys_platform != 'win32'
# -e git+https://github.com/edgewall/genshi#egg=Genshi ;sys_platform != 'win32'
https://github.com/0xquad/flask-genshi/archive/master.zip#egg=Flask-Genshi
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Genshi
itsdangerous
Jinja2
Mako
MarkupSafe
pycparser
pymysql
python-dateutil
python-editor
six
SQLAlchemy
Werkzeug
