alembic
bcrypt
cffi
click
Flask
Flask-Bcrypt
-e git+https://github.com/vthriller/flask-genshi#egg=Flask-Genshi
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
-e git+https://github.com/edgewall/genshi@f8537623aebe40cb721d73760bcca5a533716aec#egg=Genshi
itsdangerous
Jinja2
Mako
MarkupSafe
pycparser
python-dateutil
python-editor
six
SQLAlchemy
Werkzeug
